<!DOCTYPE html>
<html lang="en-au">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Simple Web Stats</title>
		<link rel="stylesheet" href="/default.css">
	</head>
	<body>
		{{ template "navbar" . }}
		<div class="page">
			<div class="sidebar">
				<nav>
					<a href="/sites">Sites</a>
					<a href="/sites/new">New site</a>
				</nav>
			</div>
			{{ template "flash" . }}
			{{ template "content" . }}
		</div>
		<footer></footer>
	</body>
</html>
