{{ define "filter" }}
	<div class="filter tags field is-grouped">
		<span class="control">Filter:</span>
		{{ if .QuerySetContains "bots" }}
			{{ $bots := .Query.Get "bots" }}
			{{ if eq $bots "0" }}
				<div class="control">
					<span class="tags has-addons">
						<a class="tag is-danger" href="?{{ .QuerySetEncode "bots" "" }}">no bots</a>
						<a class="tag is-delete" href="?{{ .QuerySetEncode "bots" "" }}"></a>
					</span>
				</div>
			{{ end }}
			{{ if eq $bots "1" }}
				<div class="control">
					<span class="tags has-addons">
						<a class="tag is-danger" href="?{{ .QuerySetEncode "bots" "" }}">only bots</a>
						<a class="tag is-delete" href="?{{ .QuerySetEncode "bots" "" }}"></a>
					</span>
				</div>
			{{ end }}
		{{ else }}
			<div class="control">
				<span class="tags has-addons">
					<a class="tag is-info" href="?{{ .QuerySetEncode "bots" "0" }}">no</a>
					<a class="tag is-light" href="?{{ .QuerySetEncode "bots" "0" }}">bots</a>
				</span>
			</div>
			<div class="control">
				<span class="tags has-addons">
					<a class="tag is-info" href="?{{ .QuerySetEncode "bots" "1" }}">only</a>
					<a class="tag is-light" href="?{{ .QuerySetEncode "bots" "1" }}">bots</a>
				</span>
			</div>
		{{ end }}
		{{ if .QuerySetContains "country" }}
			<div class="control">
				<span class="tags has-addons">
					<a class="tag is-danger" href="?{{ .QuerySetEncode "country" "" }}">country {{ .Query.Get "country" }}</a>
					<a class="tag is-delete" href="?{{ .QuerySetEncode "country" "" }}"></a>
				</span>
			</div>
		{{ end }}
		{{ if .QuerySetContains "path" }}
			<div class="control">
				<span class="tags has-addons">
					<a class="tag is-danger" href="?{{ .QuerySetEncode "path" "" }}">path</a>
					<a class="tag is-delete" href="?{{ .QuerySetEncode "path" "" }}"></a>
				</span>
			</div>
		{{ end }}
		{{ if .QuerySetContains "browser" }}
			<div class="control">
				<span class="tags has-addons">
					<a class="tag is-danger" href="?{{ .QuerySetEncode "browser" "" }}">browser</a>
					<a class="tag is-delete" href="?{{ .QuerySetEncode "browser" "" }}"></a>
				</span>
			</div>
		{{ end }}
		{{ if .QuerySetContains "referrer" }}
			<div class="control">
				<span class="tags has-addons">
					<a class="tag is-danger" href="?{{ .QuerySetEncode "referrer" "" }}">referrer</a>
					<a class="tag is-delete" href="?{{ .QuerySetEncode "referrer" "" }}"></a>
				</span>
			</div>
		{{ end }}
		{{ if .QuerySetContains "begin" }}
			<div class="control">
				<span class="tags has-addons">
					<a class="tag is-danger" href="?{{ .QuerySetEncode "begin" "" }}">time</a>
					<a class="tag is-delete" href="?{{ .QuerySetEncode "begin" "" }}"></a>
				</span>
			</div>
		{{ else }}
			<div class="control">
				<span class="tags has-addons">
					<a class="tag is-info" href="?{{ datetimeRelative "-24h" | .QuerySetEncode "begin" }}">1</a>
					<a class="tag is-light" href="?{{ datetimeRelative "-24h" | .QuerySetEncode "begin" }}">day</a>
				</span>
			</div>
			<div class="control">
				<span class="tags has-addons">
					<a class="tag is-info" href="?{{ datetimeRelative "-168h" | .QuerySetEncode "begin" }}">7</a>
					<a class="tag is-light" href="?{{ datetimeRelative "-168h" | .QuerySetEncode "begin" }}">days</a>
				</span>
			</div>
			<div class="control">
				<span class="tags has-addons">
					<a class="tag is-info" href="?{{ datetimeRelative "-720h" | .QuerySetEncode "begin" }}">30</a>
					<a class="tag is-light" href="?{{ datetimeRelative "-720h" | .QuerySetEncode "begin" }}">days</a>
				</span>
			</div>
		{{ end }}
	</div>
{{ end }}
