{{ define "filter" }}
	<div class="timerange">
		<!--
	  <form>
	  <input type="date" name="bdate" value="{{ .Begin|dateRFC }}" />
	  <input type="time" name="btime" value="{{ .Begin|timeRFC }}" />
	  <input type="date" name="edate" value="{{ .End|dateRFC }}" />
	  <input type="time" name="etime" value="{{ .End|timeRFC }}" />
	  <select name="timezone">
	  <option value="-39600">-1100</option>
	  <option value="-36000">-1000</option>
	  <option value="-32400">-0900</option>
	  <option value="-28800">-0800</option>
	  <option value="-25200">-0700</option>
	  <option value="-21600">-0600</option>
	  <option value="-18000">-0500</option>
	  <option value="-14400">-0400</option>
	  <option value="-10800">-0300</option>
	  <option value="-7200">-0200</option>
	  <option value="-3600">-0100</option>
	  <option value="0">UTC</option>
	  <option value="3600">+0100</option>
	  <option value="7200">+0200</option>
	  <option value="10800">+0300</option>
	  <option value="14400">+0400</option>
	  <option value="18000">+0500</option>
	  <option value="21600">+0600</option>
	  <option value="25200">+0700</option>
	  <option value="28800">+0800</option>
	  <option value="32400">+0900</option>
	  <option value="36000">+1000</option>
	  <option value="39600">+1100</option>
	  </select>
	  </form>
		-->
		<a href="?{{ datetimeRelative "-24h" | .QuerySetEncode "begin" }}">last day</a>
		<a href="?{{ datetimeRelative "-168h" | .QuerySetEncode "begin" }}">last 7 days</a>
		<a href="?{{ datetimeRelative "-720h" | .QuerySetEncode "begin" }}">last 30 days</a>
		<a href="?{{ .QuerySetEncode "bots" "0" }}">without bots</a>
		<a href="?{{ .QuerySetEncode "bots" "1" }}">only bots</a>
	</div>
	<div class="field is-grouped is-grouped-multiline">
		<div class="control">
			{{ if .QuerySetContains "bots" }}
				{{ $bots := .Query.Get "bots" }}
				{{ if eq $bots "0" }}
					<div class="tags has-addons">
						<a class="tag is-link">No bots</a>
						<a class="tag is-delete" href="?{{ .QuerySetEncode "bots" "" }}"></a>
					</div>
				{{ end }}
				{{ if eq $bots "1" }}
					<div class="tags has-addons">
						<a class="tag is-link">Only bots</a>
						<a class="tag is-delete" href="?{{ .QuerySetEncode "bots" "" }}"></a>
					</div>
				{{ end }}
			{{ end }}
			{{ if .QuerySetContains "begin" }}
				<div class="tags has-addons">
					<a class="tag is-link">Time filter</a>
					<a class="tag is-delete"></a>
				</div>
			{{ end }}
		</div>
	</div>
{{ end }}
