{{ define "hitView" }}
	{{ $siteID := .Site.ID }}
	{{ $payload := . }}
	<section id="hits" class="panel panel--wide">
		<header class="panel__header">
			<h3 class="panel__title">Hits</h3>
		</header>
		{{ if .Hits }}
			<figure class="figure figure--graph">
				{{ template "timeBarChart" .Hits }}
			</figure>
		{{ else }}
			<p>No hits yet</p>
		{{ end }}
	</section>

	{{ if .PageSet }}
		<section id="pages" class="panel">
			<header class="panel__header">
				<h3 class="panel__title">Top 10 pages</h3>
			</header>
			{{ if .PageSet.Count }}
				<figure class="figure figure--graph">
					{{ template "barChartHorizontal" .PageSet }}
				</figure>

				{{ $sum := .PageSet.YSum }}
				<table class="table is-striped details details--pages">
					{{range $i, $ps := .PageSet }}
						{{ if lt $i 10 }}
							<tr>
								<td class="details__name">
									<a href="/sites/{{ $siteID }}?{{ $payload.QuerySetEncode "path" .Path }}">{{ .Path }}</a>
								</td>
								<td class="details__count"><span class="details__percent">{{ percent .Count $sum | round 1 }}%</span> ({{ .Count }})</td>
							</tr>
						{{ end }}
					{{ end }}
				</table>
			{{ else }}
				<p>No page views yet</p>
			{{ end }}
		</section>
	{{ end }}

	<section id="countries" class="panel">
		<header class="panel__header">
			<h3 class="panel__title">Countries</h3>
		</header>
		{{ if .CountrySet }}
			<figure class="figure figure--map">
				{{ template "worldMap" .CountrySet }}
			</figure>
			{{ $sum := .CountrySet.YSum }}
			<table class="table is-striped details details--countries">
				{{ range .CountrySet }}
					<tr>
						<td class="details__name">
							<a href="/sites/{{ $siteID }}?{{ $payload.QuerySetEncode "country" .Name }}">{{ .Name | countryName }}</a>
						</td>
						<td class="details__count"><span class="details__percent">{{ percent .Count $sum | round 1 }}%</span> ({{ .Count }})</td>
					</tr>
				{{ end }}
			</table>
		{{ else }}
			<p>No page views yet</p>
		{{ end }}
	</section>

	<section id="referrers" class="panel">
		<header class="panel__header">
			<h3 class="panel__title">Referrers</h3>
		</header>
		{{ if .ReferrerSet }}
			<figure class="figure figure--graph">
				{{ template "barChart" .ReferrerSet }}
			</figure>
			{{ $sum := .ReferrerSet.YSum }}
			<table class="table is-striped details details--referrers">
				{{ range .ReferrerSet }}
					<tr>
						<td class="details__name">{{ .Name }}</td>
						<td class="details__count"><span class="details__percent">{{ percent .Count $sum | round 1 }}%</span> ({{ .Count }})</td>
					</tr>
				{{ end }}
			</table>
		{{ else }}
			<p>No referrers yet</p>
		{{ end }}
	</section>

	<section id="useragents" class="panel">
		<header class="panel__header">
			<h3 class="panel__title">User agents</h3>
		</header>
		{{ if .BrowserSet }}
			<figure class="figure figure--graph">
				<img src="{{ piechart "b" . }}" />
				{{ template "barChart" .BrowserSet }}
			</figure>
			{{ $sum := .BrowserSet.YSum }}
			<table class="table is-striped details details--browsers">
				{{ range .BrowserSet }}
					<tr>
						<td class="details__name">
							<a href="/sites/{{ $siteID }}?{{ $payload.QuerySetEncode "browser" .Name }}">{{ .Name }}</a>
						</td>
						<td class="details__count"><span class="details__percent">{{ percent .Count $sum | round 1 }}%</span> ({{ .Count }})</td>
					</tr>
				{{ end }}
			</table>
		{{ else }} <p>No browsers visits yet</p>
		{{ end }}
	</section>
{{ end }}

{{ define "siteSummary" }}
	<section class="level">
		{{ with .Hits }}
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Hits</p>
					<p class="title">{{ .Count }}</p>
				</div>
			</div>
		{{ end }}
		{{ with .ReferrerSet }}
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Referrers</p>
					<p class="title">{{ .Count }}</p>
				</div>
			</div>
		{{ end }}
		{{ with .BrowserSet }}
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Browsers</p>
					<p class="title">{{ .Count }}</p>
				</div>
			</div>
		{{ end }}
		{{ with .CountrySet }}
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Countries</p>
					<p class="title">{{ .Count }}</p>
				</div>
			</div>
		{{ end }}
	</section>
{{ end }}
