{{ define "content" }}
	<!-- login -->
	<main class="content content--login">
		<form method="post" action="/login">
			<h2>Login</h2>
			<div class="field">
				<label class="label">Email</label>
				<input class="input" type="email" name="email" placeholder="your email" required />
			</div>
			<div class="field">
				<label class="label">Password</label>
				<input class="input" type="password" name="password" placeholder="your password" required />
			</div>
			<div class="field">
				<input class="button is-primary" type="submit" name="login" />
			</div>
		</form>
	</main>
{{ end }}
