{{ define "content" }}
	<header class="header header--site">
		{{ if .Site.ID }}
			{{ with .Site }}
				<h1 class="title title--site">Hits for {{ .Name }}</h1>
				<span class="subtitle">{{ .Description }}</span>
			{{ end }}
		{{ else }}
			<h1 class="title--site">New Site</h1>
		{{ end }}
	</header>

	{{ template "siteSummary" . }}

	{{ if .Site.ID }}
		{{ template "filter" . }}
	{{ end }}
	{{ if .Hits }}
		{{ template "hitView" . }}
	{{ else }}
		<form method="post" action="/sites{{ if .Site.ID }}/{{ .Site.ID }}{{ end }}">
			{{ template "siteEdit" .Site }}
			<div class="field">
				<input class="button" type="submit" name="Save" />
			</div>
		</form>
		{{ if .Site.ID }}
			{{ template "siteConfig" . }}
		{{ end }}
	{{ end }}
{{ end }}

{{ define "pageForList" }}
	<li>
		<h4 class="path">{{ .Path }}</h4>
		<span class="title">{{ .Title }}</span>
		<span class="last-visit">{{ .LastVisitedAt|datetimeLong }}</span>
		<span class="count">{{ .Count }}</span>
	</li>
{{ end }}


{{ define "siteEdit" }}
	<div class="field">
		<label class="label">Name</label>
		<input class="input" type="text" name="name" value="{{ .Name }}" placeholder="example.com" required />
	</div>
	<div class="field">
		<label class="label">Description</label>
		<input class="input" type="text" name="description" value="{{ .Description }}" placeholder="site description" />
	</div>
	<div class="field">
		<label class="label">Aliases</label>
		<input class="input" type="text" name="aliases" value="{{ .Aliases }}" placeholder="www.example.com" />
	</div>
{{ end }}

{{ define "siteConfig" }}
	<p>Add the following HTML snippet to your website to collect data:</p>
	<pre><code>&lt;!-- start SWS snippet --&gt;
&lt;script async src="{{ .Payload }}" data-site="{{ .Site.ID }}"&gt;&lt;/script&gt;
&lt;noscript&gt;&lt;img src="{{ .Endpoint }}" /&gt;&lt;/noscript&gt;
&lt;!-- end SWS snippet --&gt;
	</code></pre>
{{ end }}
