{{ define "content" }}
	<header>
		<h1 class="title">Sites</h1>
	</header>
	<ul class="sites">
		{{ range .Sites }}
			{{ template "siteForList" . }}
		{{ end }}
	</ul>
{{ end }}

{{ define "siteForList" }}
	<li>
		<a href="/sites/{{ .ID }}/">{{ .Name }}</a>
		<span>{{ .Description }}</span>
		<img src="{{ sparkline .ID }}" />
	</li>
{{ end }}
