{{ define "content" }}
	<main class="content content--sites">
		<header>
			<h1>Sites</h1>
		</header>
		<ul class="sites">
			{{ range .Sites }}
				{{ template "siteForList" . }}
			{{ end }}
		</ul>
	</main>
{{ end }}

{{ define "siteForList" }}
<li>
	<a href="/sites/{{ .ID }}/">{{ .Name }}</a>
	<span>{{ .Description }}</span>
	<img src="{{ sparkline .ID }}" />
</li>
{{ end }}
