{{ define "content" }}
	<main class="site">
		<header class="site__header">
			{{ if .Site.ID }}
				{{ with .Site }}
					<h1 class="site__title">{{ .Name }}</h1>
					<span class="site__description">{{ .Description }}</span>
				{{ end }}
			{{ else }}
				<h1 class="site__title site__title--new">New Site</h1>
			{{ end }}
		</header>

		{{ template "siteSummary" . }}

		{{ if .Site.ID }}
			{{ template "timerange" . }}
		{{ end }}
		{{ if .Hits }}
			{{ template "siteView" . }}
		{{ else }}
			<form method="post" action="/sites{{ if .Site.ID }}/{{ .Site.ID }}{{ end }}">
				{{ template "siteEdit" .Site }}
				<div class="field">
					<input type="submit" />
				</div>
			</form>
			{{ if .Site.ID }}
				{{ template "siteConfig" . }}
			{{ end }}
		{{ end }}
	</main>
{{ end }}

{{ define "pageForList" }}
	<li>
		<h4 class="path">{{ .Path }}</h4>
		<span class="title">{{ .Title }}</span>
		<span class="last-visit">{{ .LastVisitedAt|datetimeLong }}</span>
		<span class="count">{{ .Count }}</span>
	</li>
{{ end }}

{{ define "browserForList" }}
	<li>
		<h4 class="name">{{ .Name }}</h4>
		<span class="last-seen">{{ .LastSeenAt|datetimeLong }}</span>
		<span class="count">{{ .Count }}</span>
	</li>
{{ end }}

{{ define "referrerForList" }}
	<li>
		<h4 class="name">{{ .Name }}</h4>
		<span class="last-seen">{{ .LastSeenAt|datetimeLong }}</span>
		<span class="count">{{ .Count }}</span>
	</li>
{{ end }}

{{ define "siteView" }}
	<section class="panel panel--wide">
		<header class="panel__header">
			<h3 class="panel__title">Hits</h3>
		</header>
		{{ if .Hits }}
			<figure class="graph">
			{{ template "timeBarChart" .Hits }}
			</figure>
		{{ else }}
			<p>No hits yet</p>
		{{ end }}
	</section>

	<section class="panel">
		<header class="panel__header">
			<h3 class="panel__title">Popular pages</h3>
		</header>
		{{ if .PageSet }}
			<figure class="graph">
			{{ template "barChartHorizontal" .PageSet }}
			</figure>

			<!--
			<ul class="pages">
				{{ $pages := .PageSet }}
				{{ range .PageSet }}
					{{ template "pageForList" . }}
					<figure>
					{{ $pathHits := $pages.GetPage .Path }}
					{{ template "timeBarChart" $pathHits }}
					</figure>
				{{ end }}
			</ul>
			-->
		{{ else }}
			<p>No page views yet</p>
		{{ end }}
	</section>

	<section class="panel">
		<header class="panel__header">
			<h3 class="panel__title">Countries</h3>
		</header>
		{{ if .CountrySet }}
			<figure class="map">
			{{ template "worldMap" .CountrySet }}
			</figure>
		{{ else }}
			<p>No page views yet</p>
		{{ end }}
	</section>

	<section class="panel">
		<header class="panel__header">
			<h3 class="panel__title">Referrers</h3>
		</header>
		{{ if .ReferrerSet }}
			<figure class="graph">
			{{ template "barChart" .ReferrerSet }}
			</figure>
			<ul class="referrers">
				{{ range .ReferrerSet }}
					{{ template "referrerForList" . }}
				{{ end }}
			</ul>
		{{ else }}
			<p>No referrers yet</p>
		{{ end }}
	</section>

	<section class="panel">
		<header class="panel__header">
			<h3 class="panel__title">User agents</h3>
		</header>
		{{ if .Browsers }}
			<figure class="graph">
			{{ template "barChart" .Browsers }}
			</figure>
			<ul class="browsers">
				{{ range .Browsers }}
					{{ template "browserForList" . }}
				{{ end }}
			</ul>
		{{ else }}
			<p>No browsers visits yet</p>
		{{ end }}
	</section>
{{ end }}

{{ define "siteSummary" }}
	<section class="site__summary">
		{{ with .Hits }}
			<div class="summary">
				<span class="summary__title">Total Hits</span>
				<span class="summary__count">{{ .Count }}</span>
				<span class="summary__comparison">for this period</span>
			</div>
		{{ end }}
		{{ with .ReferrerSet }}
			<div class="summary">
				<span class="summary__title">Total Referrers</span>
				<span class="summary__count">{{ .Count }}</span>
				<!-- <span class="summary__comparison"></span> -->
			</div>
		{{ end }}
		{{ with .Browsers }}
			<div class="summary">
				<span class="summary__title">Total Browsers</span>
				<span class="summary__count">{{ .Count }}</span>
				<!-- <span class="summary__comparison"></span> -->
			</div>
		{{ end }}
	</section>
{{ end }}

{{ define "siteEdit" }}
	<div class="field">
		<label class="field__label">Name</label>
		<input class="field__input" type="text" name="name" value="{{ .Name }}" placeholder="example.com" required />
	</div>
	<div class="field">
		<label class="field__label">Description</label>
		<input class="field__input" type="text" name="description" value="{{ .Description }}" placeholder="site description" />
	</div>
	<div class="field">
		<label class="field__label">Aliases</label>
		<input class="field__input" type="text" name="aliases" value="{{ .Aliases }}" placeholder="www.example.com" />
	</div>
{{ end }}

{{ define "siteConfig" }}
	<p>Add the following HTML snippet to your website to collect data:</p>
	<pre><code>&lt;!-- start SWS snippet --&gt;
&lt;script async src="{{ .Payload }}" data-site="{{ .Site.ID }}"&gt;&lt;/script&gt;
&lt;noscript&gt;&lt;img src="{{ .Endpoint }}" /&gt;&lt;/noscript&gt;
&lt;!-- end SWS snippet --&gt;
	</code></pre>
{{ end }}
