{{ define "content" }}
	<main>
		<header>
			{{ if .Site.ID }}
				{{ with .Site }}
					<h1>{{ .Name }}</h1>
					<span>{{ .Description }}</span>
				{{ end }}
			{{ else }}
				<h1>New Site</h1>
			{{ end }}
		</header>
		{{ if .Site.ID }}
			{{ template "timerange" . }}
		{{ end }}
		{{ if .Hits }}
			{{ template "siteView" . }}
		{{ else }}
			<form method="post" action="/sites{{ if .Site.ID }}/{{ .Site.ID }}{{ end }}">
				{{ template "siteEdit" .Site }}
				<div class="field">
					<input type="submit" />
				</div>
			</form>
			{{ template "siteConfig" . }}
		{{ end }}
	</main>
{{ end }}

{{ define "pageForList" }}
	<li>
		<h4 class="path">{{ .Path }}</h4>
		<span class="title">{{ .Title }}</span>
		<span class="last-visit">{{ .LastVisitedAt|datetimeLong }}</span>
		<span class="count">{{ .Count }}</span>
	</li>
{{ end }}

{{ define "browserForList" }}
	<li>
		<h4 class="name">{{ .Name }}</h4>
		<span class="last-seen">{{ .LastSeenAt|datetimeLong }}</span>
		<span class="count">{{ .Count }}</span>
	</li>
{{ end }}

{{ define "referrerForList" }}
	<li>
		<h4 class="name">{{ .Name }}</h4>
		<span class="last-seen">{{ .LastSeenAt|datetimeLong }}</span>
		<span class="count">{{ .Count }}</span>
	</li>
{{ end }}

{{ define "siteView" }}
	<div class="panel panel-wide">
		<h2>Hits</h2>
		{{ if .Hits }}
			<fig>
			{{ template "timeBarChart" .Hits }}
			</fig>
		{{ else }}
			<p>No hits yet</p>
		{{ end }}
	</div>

	<div class="panel">
		<h2>Popular pages</h2>
		{{ if .PageSet }}
			<fig>
			{{ template "barChartHorizontal" .PageSet }}
			</fig>

			<ul class="pages">
				{{ $pages := .PageSet }}
				{{ range .PageSet }}
					{{ template "pageForList" . }}
					<fig>
					{{ $pathHits := $pages.GetPage .Path }}
					{{ template "timeBarChart" $pathHits }}
					</fig>
				{{ end }}
			</ul>
		{{ else }}
			<p>No page views yet</p>
		{{ end }}
	</div>

	<div class="panel">
		<h2>Referrers</h2>
		{{ if .ReferrerSet }}
			<fig>
			{{ template "barChart" .ReferrerSet }}
			</fig>
			<ul class="referrers">
				{{ range .ReferrerSet }}
					{{ template "referrerForList" . }}
				{{ end }}
			</ul>
		{{ else }}
			<p>No referrers yet</p>
		{{ end }}
	</div>

	<div class="panel">
		<h2>User Agents</h2>
		{{ if .Browsers }}
			<fig>
			{{ template "barChart" .Browsers }}
			</fig>
			<ul class="browsers">
				{{ range .Browsers }}
					{{ template "browserForList" . }}
				{{ end }}
			</ul>
		{{ else }}
			<p>No browsers visits yet</p>
		{{ end }}
	</div>
{{ end }}

{{ define "siteEdit" }}
	<div class="field">
		<label>Name</label>
		<input type="text" name="name" value="{{ .Name }}" placeholder="example.com" required />
	</div>
	<div class="field">
		<label>Description</label>
		<input type="text" name="description" value="{{ .Description }}" placeholder="site description" />
	</div>
	<div class="field">
		<label>Aliases</label>
		<input type="text" name="aliases" value="{{ .Aliases }}" placeholder="www.example.com" />
	</div>
{{ end }}

{{ define "siteConfig" }}
	<p>Add the following HTML snippet to your website to collect data:</p>
	<pre><code>&lt;!-- start SWS snippet --&gt;
&lt;script async src="{{ .Payload }}" data-site="{{ .Site.ID }}"&gt;&lt;/script&gt;
&lt;noscript&gt;&lt;img src="{{ .Endpoint }}" /&gt;&lt;/noscript&gt;
&lt;!-- end SWS snippet --&gt;
	</code></pre>
{{ end }}
