{{ define "timeBarChart" }}
	<ul class="chart bar time">
		{{ $max := .YMax }}
		{{ range .XSeries }}
			<li class="slot{{ if eq .Time.Hour 0 }} midnight{{ end }}" data-x="{{ .Label }}" data-y="{{ .Count }}" data-percent="{{ percent .Count $max }}">
				<time class="bar" style="height:{{ percent .Count $max }}%" datetime="{{ .Time }}"/>
			</li>
		{{ end }}
	</ul>
{{ end }}

{{ define "barChart" }}
	<ul class="chart bar vertical">
		{{ $max := .YMax }}
		{{ range .XSeries }}
			<li class="slot" data-x="{{ .Label }}" data-y="{{ .Count }}" data-percent="{{ percent .Count $max }}">
				<div class="bar" style="height:{{ percent .Count $max }}%" />
			</li>
		{{ else }}
		{{ end }}
	</ul>
{{ end }}

{{ define "barChartHorizontal" }}
	<ul class="chart bar horizontal">
		{{ $max := .YMax }}
		{{ range .XSeries }}
			<li class="slot" data-x="{{ .Label }}" data-y="{{ .Count }}" data-percent="{{ percent .Count $max }}">
				<div class="bar" style="width:{{ percent .Count $max }}%" />
			</li>
		{{ else }}
		{{ end }}
	</ul>
{{ end }}

{{ define "stackedBarChart" }}
	<ul class="chart bar stacked">
		{{ $max := .CountMax }}
		{{ range .Data }}
			<li class="slot{{ if eq .Time.Hour 0 }} midnight{{ end }}" data-date="{{ .Time|datetimeHour }}" data-count="{{ .Count }}" data-percent="{{ percent .Count $max }}">
				<div class="bar" style="height:{{ percent .Count $max }}%" />
			</li>
		{{ end }}
	</ul>
{{ end }}
