{{ define "example" }}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>This is the title</title>
		<script>_sws = { local: true }</script>
		<script async src="http://localhost:5000/sws.js" data-site="1"></script>
		<noscript>
			<img src="http://localhost:5000/sws.gif" />
		</noscript>
	</head>
	<body>
		<a href="?referred">test</a>
	</body>
</html>
{{ end }}
