{{ define "sites" }}
	{{ template "pageHead" }}
	{{ template "navMain" }}
	<main>
		<header>
			<h1>Sites</h1>
		</header>
		<ul class="sites">
			{{ range .Sites }}
				{{ template "siteForList" . }}
			{{ end }}
		</ul>
	</main>
	{{ template "pageFoot" }}
{{ end }}

{{ define "site" }}
	{{ template "pageHead" }}
	{{ template "navMain" }}
	<main>
		<header>
			{{ with .Site }}
				<h1>{{ .Name }}</h1>
				<span>{{ .Description }}</span>
			{{ end }}
		</header>
		<ul class="pages">
			{{ range .Pages }}
				{{ template "pageForList" . }}
			{{ end }}
		</ul>
	</main>
	{{ template "pageFoot" }}
{{ end }}
