{{ define "content" }}
	<main>
		<header>
			{{ with .Site }}
				<h1>{{ .Name }}</h1>
				<span>{{ .Description }}</span>
			{{ end }}
		</header>
		<fig>
		{{ template "timeBarChart" .Hits }}
		</fig>
		<h2>Popular pages</h2>
		<ul class="pages">
			{{ range .Pages }}
				{{ template "pageForList" . }}
			{{ end }}
		</ul>
		<h2>User Agents</h2>
		{{ if .UserAgents }}
			{{ template "barChart" .UserAgents }}
			<ul class="agents">
				{{ range .UserAgents }}
					{{ template "uaForList" . }}
				{{ end }}
			</ul>
		{{ else }}
			<p>No user agents</p>
		{{ end }}
	</main>
{{ end }}

{{ define "pageForList" }}
<li>
	<h4 class="path">{{ .Path }}</h4>
	<span class="title">{{ .Title }}</span>
	<span class="last-visit">{{ .LastVisitedAt|timeLong }}</span>
	<span class="count">{{ .Count }}</span>
</li>
{{ end }}

{{ define "uaForList" }}
<li>
	<h4 class="engine">{{ .Browser }}</h4>
	<span class="user-agent">{{ .Name }}</span>
	<span class="last-seen">{{ .LastSeenAt|timeLong }}</span>
	<span class="count">{{ .Count }}</span>
</li>
{{ end }}
