{{ define "content" }}
	<header>
		<h1 class="title">Sites</h1>
	</header>
	{{ range .Sites }}
		{{ template "siteForList" . }}
	{{ end }}
{{ end }}

{{ define "siteForList" }}
	<a class="site card" href="/sites/{{ .ID }}/">
		<div class="card-header">
			<object data="/favicon64.png" type="image/png">
				<img class="card-header-icon" src="//{{ .Name }}/favicon.ico" alt="{{ .Name }} favicon" />
			</object>
			<span class="card-header-title">{{ .Name }}</span>
			<img src="{{ sparkline .ID }}" />
		</div>
		<div class="card-content">
			{{ .Description }}
		</div>
	</a>
{{ end }}
